In [1]:
import pandas as pd

In [2]:
abc = pd.read_csv('abc.csv')
abc

   apple  banana  canteloupe
0      3       4           5
1      4       6           8
2      5       8          11

In [3]:
abc['strawberry'] = [6, 10, 14]
abc

   apple  banana  canteloupe  strawberry
0      3       4           5           6
1      4       6           8          10
2      5       8          11          14